<%- include('header'); %>

<h1 style="text-align: center; margin: auto; width: 70%; margin-top: 50px;">We are the Borg. Lower your shields and surrender your ships.
    We will add your biological and ethnolocial distinctiveness to our own.
    Your culture will adapt to service us. Resistance is futile.</h1>


<%- include('footer'); %>