/* Header */

.header {
  background-color: rgb(245, 236, 236);
  height: 6rem;
  font-weight: 300;
  text-transform: uppercase;
}

.header-name {
  margin: auto;
  margin-left: 150px;
  font-size: 1.6rem;
}

.nav-link {
  width: 120px;
  word-spacing: 5px;
}

/* Main */

.blog {
  width: 80%;
  margin: auto;
  padding-top: 50px;
}

.nobull {
  list-style-type: none;
  text-decoration: none;
}

.blog-text {
  max-width: 70%;
}

.hide {
  white-space: nowrap;
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hide-button {
  display: none;
}

.readMoreButton {
  width: 200px;
}


/* Blog Entry Input */

#blog-entry-input {
  width: 50%;
  margin: auto;
  margin-top: 40px;
}

.blog-input-button{
  margin-top: 30px;
  float: right;
}